/* * {box-sizing: border-box;}; */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
  font-family: "Open Sans", sans-serif;
}

/* ================= Typography ================= */

h1,
h2,
h2,
a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

p {
  line-height: 1.5;
}

/* ================= Layout ================= */

/*  Start of Header Section */

header {
  background-color: hsl(217, 28%, 15%);
  background-image: url('/images/bg-curvy-desktop.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 123px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
}

img {
  max-width: 100%;
  /* display: block; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 1.5em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #4fc6d7;
}

.cta {
  max-width: 100%;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

/* .illustration-title,
.illustration-body {
  line-height: 1.5;
} */

.illustration-body {
  margin: 0em 3em 2em;
}

.start-btn {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  padding: 18px 75px;
  border-radius: 5em;
  border: 0;
  text-decoration: none;
}

.start-btn:hover {
  color: #4fc6d7;
  background: hsl(0, 0%, 100%);
}

.btn-accent {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

/*  End of Header Section */


/*  Start of Services Section */
.service-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.service {
  width: 400px;
  text-align: center;
  margin: 4em;
}

/* .service-body {
  line-height: 1.4;
} */

/*  End of Information Section */
.information-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.information-images {
  width: 500px;
  margin-right: 50px;
}

.information-section {
  flex: 1;
  width: 400px;
}
/* End of Information Section * /